<!doctype html>
<html>
<head>
    {% block head %}
    <title>Flaskr</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}">
    {% endblock %}
</head>

<body>
<div class=container>
    <h1>京西古道</h1>
    <div class=metanav>
    {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
    {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% block html %}{% endblock %}
</html>
