{% extends "layout.html" %}
{% block body %}
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
      </div>
    </div>
  </div>

  <div class="row">
  {% for village_i in villages %}
    <div class="col-xs-4 col-sm-4 col-md-4">
      <h2>{{ village_i.name_cn }}</h2>
      <p>{{ village_i.desc|safe }}</p>
    </div>
  {% else %}
    <p>Unbelievable. No villages here so far</p>
  {% endfor %}
  </div>
  <hr>

  {% if session.logged_in %}
    <form action="{{ url_for('add_village') }}" method=post class=add-village>
      <dl>
        <dt>Village Name
        <dd><input type=text size=30 name=village_name>
        <dt>Describe:
        <dd><textarea name=village_text rows=5 cols=40></textarea>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
{% endblock %}