  <form class="form-horizontal" id="add_album_form">
    <fieldset>
    <div class="control-group">
          <!-- Text input-->
          <label class="control-label" for="input01">Album Name</label>
          <div class="controls">
            <input type="text" placeholder="" name="new_album_name" class="input-xlarge" id="new_album_name">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Textarea -->
          <label class="control-label">Album Describe</label>
          <div class="controls">
            <div class="textarea">
                  <textarea type="" class="" name="new_album_dec" id="new_album_dec"> </textarea>
            </div>
          </div>
        </div>

    <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">Select Category</label>
          <div class="controls">
            <select class="input-xlarge" name="new_album_category">
      <option>temple</option>
      <option>tomp</option></select>
          </div>

        </div>

    </fieldset>
  </form>